/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    background-color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
}

header nav li { /* Lay links horizontally with spaces inbetween*/
    display: inline-block; 
    margin-left: 10px;
}

header nav a { /* Remove link underline thing. Might need again*/
    text-decoration: none;
    color: #6b7280;
}

header nav a:hover { 
    color: #5a67d8;
}

header h1{
    font-size: 18px;
}

/* ======================Overview section=======================*/

.overview-hero{
    background-color: #E2E8F0;
    padding: 40px;
}

.overview-hero .container{
    display: flex;
    justify-content: center;
    max-width: 800px;
}


.overview-hero-image img{
    width: 150px;
    margin-top: 40px;
    margin-right: 40px;
}

/*======================Learn About section===================*/
.learn-about .container{
    padding: 30px;
    max-width: 800px;
}

.learn-about .container h2{
    font-size: 24px;
    color: #48bb78;
}

.learn-about .container h3{
    font-size: 21px;
    color: #48bb78;
}


.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
}

.card {
    border-radius: 5px;
    border: solid #E2E8F0;
    box-shadow: 5px 5px #E2E8F0; 
    padding: 10px;
}

.card img {
    max-width: 100%; 
    height: 200px;
}

/*
.testing .container {
    background-color: lightblue;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.testing-description {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cta {
    text-align: center;
    padding-top: 60px;
} */

/*======================COVID-19 Testing section===================*/

.testing{
    background-color: #4A5568;
    color: white;
    padding: 50px;
    padding-bottom: 100px;

}

.testing .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 800px;
}

.cta{
    margin-right: 15px;
    white-space: nowrap;
    margin-top: 30px;
}

.cta .btn{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #48bb78;
    padding: 20px 40px; 
    border-radius: 5px;
    
}


/*
.testing .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    max-width: 800px;    
}

.testing .container .testing-description {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 600px;
}


.cta {
    text-align: center;
    margin-top: 60px;
}

.cta .btn{
    text-decoration: none;
    color: white;
}*/


/*====================Recent Stories section==================*/

.stories .container{
    padding: 50px;
    max-width: 800px;
}

.stories .container h2,a{
    color: #5a67d8;
}

.stories .container h3{
    font-size: 18px;
    padding-bottom: 13px;
}

.stories .container a{
    text-decoration: none;
}

.container article{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.container article img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 20px;
}

/*====================Newsletter section==================*/

.newsletter{
    background-color: #48BB78;
    color: white;
    padding: 30px;
}

.newsletter .container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-bottom: 40px;
}

.newsletter .container h3{
    margin-bottom: 0px;
    text-align: center;
}

.newsletter .container form{
    display: flex;
    gap: 5px;
    max-width: 100%;
}

.newsletter .container form .form-group input{
    height: 50px;
    border-radius: 5px;
    width: 300px;
}

.newsletter .container .btn{
    color: white;
    text-align: center;
    background-color: #5A67D8;
    border-radius: 5px;
    width: 200px;
}

footer{
    background-color: #4A5568;
    padding: 20px;
    color: white;
}
